//- Новости 
mixin s-news()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="Вакома РУС")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			+item("img/@2x/news-15-06-2018--2.jpg","15.06.2018","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			+item("img/@2x/news_2016-08-11_preview.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'news-2016-08-11.html')
			+item("img/@2x/09-07-2016--4.jpg","09.07.2016","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			+item("img/@2x/news-15-06-2018--1.jpg","09.07.2016","Поставка редуктора вспомогательного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016--2.html')
	// end s-news

//- Новости 2016
mixin s-news-2016()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="Вакома РУС")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			//- +item("img/@2x/news-15-06-2018--2.jpg","15.06.2018","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')

			+item("img/@2x/09-07-2016--4.jpg","09.07.2016","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			+item("img/@2x/news-15-06-2018--1.jpg","09.07.2016","Поставка редуктора вспомогательного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016--2.html')
			+item("img/@2x/news_2016-08-11_preview.jpg","11.08.2016","Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'news-2016-08-11.html')
			+item("img/@2x/2016-11-03-preview.jpg","03.11.2016","Турборедуктор Р-3600 установки ГТТ-3М для ООО «Цемек Минералс»",'news-2016-11-03.html')
			+item("img/@2x/2016-11-05-preview.jpg","05.11.2016","Турборедуктор Р-530 к нагнетателю Н-360-21-1 для ООО «Цемек Минералс»",'news-2016-11-05.html')
	// end s-news

//- Новости 2017
mixin s-news-2017()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="Вакома РУС")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			//- +item("img/@2x/news-15-06-2018--2.jpg","15.06.2018","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')

			+item("img/@2x/09-07-2016--4.jpg","00.00.2017","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			+item("img/@2x/09-07-2016--4.jpg","00.00.2017","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			+item("img/@2x/09-07-2016--4.jpg","00.00.2017","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			+item("img/@2x/09-07-2016--4.jpg","00.00.2017","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			
	// end s-news

//- Новости 2018
mixin s-news-2018()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="Вакома РУС")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			+item("img/@2x/news-15-06-2018--2.jpg","15.06.2018","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			//- +item("img/@2x/news_2016-08-11_preview.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'news-2016-08-11.html')
			//- +item("img/@2x/09-07-2016--4.jpg","09.07.2016","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			//- +item("img/@2x/news-15-06-2018--1.jpg","09.07.2016","Поставка редуктора вспомогательного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016--2.html')

//- Новости 2019
mixin s-news-2019()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="Вакома РУС")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			+item("img/@2x/news-15-06-2018--2.jpg","00.00.2019","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			+item("img/@2x/news-15-06-2018--2.jpg","00.00.2019","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			+item("img/@2x/news-15-06-2018--2.jpg","00.00.2019","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			//- +item("img/@2x/news_2016-08-11_preview.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'news-2016-08-11.html')
			//- +item("img/@2x/09-07-2016--4.jpg","09.07.2016","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			//- +item("img/@2x/news-15-06-2018--1.jpg","09.07.2016","Поставка редуктора вспомогательного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016--2.html')
//- Новости 2019
mixin s-news-2020()
	// start s-news
	+b.s-news.section#s-news&attributes(attributes)
		.container
			mixin item(i,d,p,a)
				+e.row.row
					.col-md-5
						+e.img-wrap(href= a).bg-wrap
							img.img-bg.object-fit-js(src= i , alt="Вакома РУС")
					.col-xl-6.col
						+e.date= d
						.h4.fw-400= p
						+e.link(href= a) ПОДРОБНЕЕ
			+item("img/@2x/news-15-06-2018--2.jpg","00.00.2020","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			+item("img/@2x/news-15-06-2018--2.jpg","00.00.2020","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			+item("img/@2x/news-15-06-2018--2.jpg","00.00.2020","Пуско-наладочные работы редуктора вспомогательного привода и редуктора главного привода мельницы Ø4,0 х 13,5 м, изготовленных для ООО «Цемек Минералс»",'news-15-06-2018.html')
			//- +item("img/@2x/news_2016-08-11_preview.jpg","11 августа 2016","Поставка зубчатой передачи для турборедуктора (мультипликатора) Р-430 в составе газоперекачивающего агрегата ТКА-Ц-16/76 для ПАО «СИБУР Холдинг»",'news-2016-08-11.html')
			//- +item("img/@2x/09-07-2016--4.jpg","09.07.2016","Поставка редуктора главного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016.html')
			//- +item("img/@2x/news-15-06-2018--1.jpg","09.07.2016","Поставка редуктора вспомогательного привода мельницы Ø4,0 х 13,5 м для ООО «Цемек Минералс»",'news-09-07-2016--2.html')
